<div class="container">
  <div ng-controller="registerCtrl">
  <h1 class="text-center">Registation Form</h1><hr/>
  <form ng-submit="submitStudent()" name="myForm" novalidate>
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" disabled="disabled" ng-model="myservice.registerForm.id" id="id">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="username" ng-model="myservice.registerForm.name" placeholder="Enter Fullname" required>
      <span style="color:red" ng-show="myForm.username.$touched && myForm.username.$invalid">
        <span ng-show="myForm.username.$error.required">Username is required.</span>
        </span>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" ng-model="myservice.registerForm.email" placeholder="Enter email" required>
      <span style="color:red" ng-show="myForm.email.$touched && myForm.email.$invalid">
        <span ng-show="myForm.email.$error.required">Username is required.</span>
        <span ng-show="myForm.email.$error.email">invalid email address</span>
        </span>
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="text" placeholder="dd/mm/yyyy" class="form-control" ng-model="myservice.registerForm.dob">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>